* {
    margin: 0;
    padding: 0;
}

#content {
    width: 600px;
    margin: 50px auto;
}

form fieldset {
    margin: 10px 10px;
    padding: 20px 20px;
    box-shadow: 2px 2px 4px #ccc;
}

table {
    margin: 0 auto;
}

table td {
    padding: 5px;
}

input {
    width: 300px;
    height: 30px;
}

.hint {
    display: none;
    font-size: 13px;
}

.right {
    color: green;
}

.wrong {
    color: red;
}

label {
    display: block;
    width: 100%;
    text-align: right;
}

button {
    width: 3.5em;
    height: 1.8em;
    float: right;
    font-size: 18px;
    background: blue;
    color: white;
    border-radius: .5em;
}