* {
    margin: 0px;
}

#control {
    margin: 20px 5px 5px;
    font-size: 12px;
}

button, input {
    margin-left: 5px;
}
#container div {
    margin: 2px 15px;
    min-height: 20px;
    min-width: 25px;
    background-color: white;
    overflow: auto;
}

#container div.hide {
    display: none;
}
#container div.show {
    display: block;
}

div.on {
    border: solid 3px blue !important;
}

div label {
    margin-right: 5px;
    width: 10px;
    text-align: center;
    display: inline-block;
    border: solid 2px white;
}

div input {
    margin-right: 4px; 
}


div label.open {
    border: solid 2px black;
}
