* {
    margin: 0;
    padding: 0;
}

#content {
    text-align: center;
    margin:40px auto;
}

#content {
    
}

form {
    width: 600px;
    margin: 30px auto;
    padding: 30px 20px;
    border: solid 1px #999;
    border-radius: 10px;
    font-size: 23px;
    font-weight: bold;
}
input {
    height: 40px;
    font-size:23px;
    border: solid 1px #999;
}

#name label {
    margin-right: 20px;
}

input[type=text] {
    width:250px;
    padding-left: 20px;
}
#input_check {
    margin-left: 10px;
    border-radius: 7px;
    background: #1297FE;
    color: white;
    padding: 0px 15px;
}

#input_check:hover {
    background: #1E45EA;
}

form span {
    display: block;
    font-size: 15px;
    color: #999;
    text-align:left;
    padding-left: 153px;
}
