* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

#container {
    width: 800px;
    height: 600px;
    position: absolute;
    overflow: hidden;
}

#imgs {
    position: absolute;
    z-index: 1;
}

#btns {
    width: 100px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    left: 350px;
    z-index: 2;
    
}

#btns span {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    float: left;
    margin: 0 5px;
    background-color: #333;
    cursor: pointer;
}

#btns span:hover {
    background-color: red;
}

.arrow {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 50px;
    display: none;
    color: #ffffff;
    background: RGBA(0,0,0,.3);
    position: absolute;
    top: 280;
    z-index: 2;
}
.arrow:hover {
    background: RGBA(0,0,0,.7);
}
#container:hover .arrow {
    display: block;
}

#pre {
    left: 20px;
}
#next {
    right: 20px;
}